{
  "parser":"@typescript-eslint/parser",
  "extends":[
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "env":{
    "node":true,
    "es6":true,
    "mocha":true
  },
  "parserOptions":{
    "ecmaVersion":2020,
    "sourceType":"module"
  },
  "rules":{
    "no-var":"off",
    "no-unused-vars":"off",
    "no-prototype-builtins":"off",
    "no-empty":"off",
    "no-constant-condition":"off",
    "@typescript-eslint/no-var":0,
    "@typescript-eslint/no-var-requires":0,
    "@typescript-eslint/no-empty-interface":0,
    "@typescript-eslint/no-namespace":0,
    "@typescript-eslint/explicit-module-boundary-types":[
      "warn",
      {
        "allowArgumentsExplicitlyTypedAsAny":true
      }
    ],
    "@typescript-eslint/no-empty-function":0,
    "@typescript-eslint/ban-types":0,
    "@typescript-eslint/no-explicit-any":0
  }
}